{% extends 'AbleSpecAdminBundle::base.html.twig' %}

{% block body -%}    
    <div class="jumbotron">
        <h4>abspecialist under construction - 공사중</h4>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-success" href="{{ path('expert_list') }}">전문가 관리</a>
        {% endif %}

        <a class="btn btn-success" href="{{ path('experthome') }}">HOME</a>
    </div>
    <br>   
{% endblock %}
