{% extends 'AbleSpecAdminBundle::base.html.twig' %}

{% block body -%}
    <h3>{% trans %}Payment creation{% endtrans %}</h3>

    {{ form(form) }}

        <ul class="nav nav-pills record_actions">
    <li>
        <a href="{{ path('payment') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
