{% extends 'AbleSpecExpertBundle::base.html.twig' %}

{% block leftmenu %} {% include "AbleSpecExpertBundle:RecentNews:menusamoshirsoke.html.twig" %} {% endblock %} 

{% block body -%}
    <h4>{% trans %}Recent News edit{% endtrans %}</h4>

    {{ form(edit_form) }}

        <ul class="nav nav-pills record_actions">
    <li class="active">
        <a href="{{ path('recentnews') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
