{% extends 'AbleSpecAdminBundle::base.html.twig' %}

{% block body -%}
    <h3>{% trans %}Expert edit{% endtrans %}</h3>

    {{ form(edit_form) }}

    <ul class="nav nav-pills record_actions">
        <li class="active">
            <a href="{{ path('expert_list') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li class="active">{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
